{% extends "base.html" %} 

{% block section %}
{% if user.is_authenticated %}
<h1> {{ user.username }}님 안녕하세요 :D </h1>
<br>
<h2>사용자 목록</h2>
{% for user in userlist %}
        <li><a href = "{% url 'common:mypage' user.id %}?selected_user_id={{user.id}}">{{ user.username }}</a></li>
{% endfor %}
        <h2>Velog</h2>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for velog in veloglist %}
              <tr>
                <td><a href = "https://velog.io{{ velog.url }}">{{ velog.title }}</a> </td> 
                <td>{{ velog.author }} </td> 
                <td>{{ velog.date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% else %}
<h1>로그인이 필요합니다.</h1>
{% endif %}

{% endblock section%}
