{% extends "base.html" %}
{% block section %}
<h1> this is {{ selected_user.username }}'s page </h1>

<p> 
{% if profile.profile_image %}
<img src="{{ profile.profile_image.url }}" style="width:80px;" alt="Profile Image">
{% endif %}
<br>
email : {{ user.email }}
<br>
{% if profile.bio %}
  {{ profile.bio }}
{% endif %}

</p>

{% if selected_user.username == user.username %}
<button onclick="redirectToSetting()">Setting</button>
{% endif %}

{% include "guestbook/list.html" %}

<script>
function redirectToSetting() {
  window.location.href = "{% url 'common:setting' id=user.id %}";
}
</script>
{% endblock %}